body {
  background-color: rgba(255, 68, 0, 0.838);
  text-align: center;
}

#title {
  margin: 0;
  color: purple;
  font-size: 84px;
  font-family: Caveat;
  
}

#grid-container {
  width: 640px;
  height: 640px;
  margin: auto;
  margin-top: 48px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 10px;
  border-radius: 5px;
}

.rows,
.columns {
  flex: 1;
}

.rows {
  display: flex;
}

.columns {
  border: 1px solid rgb(169, 168, 168);
}
